@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --hero-footer-color: #1f2937;
    --main-text-color: #f9faf8;
    --hero-secondary-text: #e5e7eb;
    --button-color: #3882f6;
    --quote-background: #e5e7eb;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: Roboto, serif;
    font-size: 16px; 
}


header {
    width: 100%;
    background-color: var(--hero-footer-color);
    
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--hero-footer-color);
    width: min(2000px, 100%);
}
.header-logo{
    font-size: 1.5rem;
    color: var(--main-text-color);
}
.nav-links {
    display: flex;
    gap: 2rem;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
   color: var(--hero-secondary-text);
   text-decoration: none;
}
#hero {
    grid-area: hero;
    background-color: var(--hero-footer-color);
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}
.hero-info{
    display: flex;
    flex: 0 1 36rem;
    flex-direction: column;
    width: 400px;
}
img {
   object-fit: cover;
   object-position: bottom;
   border-radius: 10px;
   width: min(40rem, 100%);
   height: auto;
    aspect-ratio: 16 / 9;
}
.hero-info h1 {
    font-size: 3rem;
    color: var(--main-text-color);
    margin-bottom: 1rem;
    font-weight: 900;
}
.hero-info p {
    color: var(--hero-secondary-text);
    margin-bottom: 2rem;
}

.sign-up-btn {
    border: none;
    width: fit-content;
    background-color: var(--button-color);
    color: var(--hero-secondary-text);
    font-weight: 700;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 16px;
    cursor: pointer;
}

#info-section {
    text-align: center;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 3rem 1rem;
}
#info-section h2{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 3rem;
}
.card-container {
    display: flex;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-border {
    width: 160px;
    height: auto;
    aspect-ratio: 1 / 1;
    border: 4px solid var(--button-color);
    border-radius: 10px;
    margin-bottom: 1rem;
}
.card p{
    color: var();
}

#quote-section {
    grid-area: quote-section;
    background-color: var(--quote-background);
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.quote-content {
    width: 70%;
    
}
blockquote {
    width: 100%;
    font-size: 36px;
    font-style: italic;
    color: var(--hero-footer-color);
    font-weight: 300;
    margin-bottom: 1rem;
}
#quote-section p {
    font-weight: 700; 
}

#call-to-action-section {
    padding: 5rem 0;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.cta-banner {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    padding: 2rem 5rem;
    border-radius: 10px;
    gap: 2rem;
}
.cta-text{
    color: var(--main-text-color);
    flex: 0 1 40rem;
}
.cta-text h3{
    margin-bottom: 0.5rem;
}
.cta-button {
    border: 2px solid var(--main-text-color);
    color: var(--main-text-color);
    background-color: var(--button-color);
}

footer {
    height: 100px;
    background-color: var(--hero-footer-color);
    color: var(--hero-secondary-text);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}